@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: 20px solid $cl-blue;
  border-top: 20px solid $cl-skyblue;
  border-radius: 50%;
  animation: spin 1s ease infinite;
  color: transparent;
}

.spinner-small {
  width: 2rem;
  height: 2rem;
  border-width: 10px;
  animation-duration: 2s;
}
