.branches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $cl-white;
  color: $cl-blue;
  min-height: auto;
  &__title {
    border: 2px solid $cl-blue;
    padding: .8rem .9rem;
    border-radius: 30px;
    font-size: 1.5rem;
    &-container {
      background-color: $cl-white;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5rem;
  }
  &__item {
    position: relative;
    width: 15rem;
    height: 8rem;
    margin: 2rem 5rem;
  }
  &__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    &-container {
      border-radius: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      position: absolute;
      padding: 1rem;
      width: min-content;
      height: fit-content;
    }
    & img {
      object-fit: contain;
      object-position: center;
    }
  }
  &__name {
    position: absolute;
    bottom: -1rem;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__button {
    font-size: .8rem;
    text-align: center;
    position: absolute;
    background-color: $cl-green;
    bottom: -4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: fit-content;
    width: 50%;
    font-weight: bold;
    border-radius: 30px;
    padding: .5rem;
  }
}