.call-to-action {
  display: flex;
  min-height: 10rem;
  align-items: center;
  justify-content: center;
  background-color: $cl-blue;
  overflow: hidden;
  width: 100%;
  &__message {
    width: 70%;
    text-align: center;
    font-size: 1.8rem;
    color: $cl-white;
  }
  &__action {
    min-width: 25%;
    margin: 2rem 1rem;
  }
  &__button {
    padding: .8rem 1rem;
    color: $cl-white;
    border: 2px solid $cl-white;
    font-size: 1.1rem;
    background-color: $cl-blue;
    border-radius: 30px;
    font-weight: bold;
  }
}