@keyframes center-to-right {
  from {
    transform: scale(1.2) translateX(-21rem);
  }
  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes left-to-center {
  from {
    transform: scale(1) translateX(-25rem);
  }
  to {
    transform: scale(1.2) translateX(0);
  }
}

@keyframes in {
  from {
    opacity: 0;
    transform: translateX(-21rem);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}

.customer-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $cl-white;
  color: $cl-blue;
  min-height: auto;
  &__title {
    border: 2px solid $cl-blue;
    padding: .8rem .9rem;
    border-radius: 30px;
    background-color: $cl-white;
    &-container {
      background-color: $cl-white;
    }
  }
  &__items {
    position: relative;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75rem;
    margin-bottom: 1rem;
    min-height: 18rem;
  }
  &__item {
    position: relative;
    min-width: 15rem;
    width: 15rem;
    min-height: 12rem;
    padding: 1rem 3.5rem;
    margin: 2rem .5rem;
    background-color: $cl-aqua;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-between;
    transition-duration: 500ms;
    &:hover {
      transform: scale(1.2);
    }
    &--active {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      animation: left-to-center ease 1s forwards;
    }
    &--left {
      position: absolute;
      right: 0;
      animation: center-to-right ease 1s forwards;
    }
    &--right {
      position: absolute;
      left: 0;
      animation: in ease 1s forwards;
    }
  }
  &__message {
    position: relative;
    &::before {
      content: "\"";
      position: absolute;
      top: -1rem;
      left: -2.8rem;
      font-size: 5rem;
      font-style: italic;
    }
  }
  &__customer-name {
    align-self: flex-end;
    font-weight: bold;
    margin-right: -1.5rem;
    font-size: 1.1rem
  }
  &__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    &-container {
      border-radius: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      position: absolute;
      padding: 1rem;
      width: min-content;
      height: fit-content;
    }
    & img {
      object-fit: contain;
      object-position: center;
    }
  }
  &__name {
    position: absolute;
    bottom: -1rem;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__button {
    font-size: .8rem;
    text-align: center;
    position: absolute;
    background-color: $cl-green;
    bottom: -4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: fit-content;
    width: 50%;
    font-weight: bold;
    border-radius: 30px;
    padding: .5rem;
  }
  &__controls {
    width: fit-content;
    height: 1rem;
    display: flex;
    margin-bottom: 1rem;
  }
  &__control {
    border: 1px solid $cl-blue;
    border-radius: 50%;
    height: .5rem;
    width: .5rem;
    margin: 0 .2rem;
    &:hover {
      background-color: $cl-blue;
    }
  }
}