.container {
  width: 80%;
  margin: 0 auto;
}

.t-header {
  color: #ffffee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $montserrat;
  align-items: center;
  &__logo {
    width: 10%;
    font-size: 1em;
    margin: 8px 0;
  }
  &__title {
    margin: 8px 0;
    font-size: 2em;
  }
}

.t-message {
  font-family: $montserrat;
  font-weight: 300;
  color: #ffffee;
  font-size: 1.7em;
  &__greeting {
    font-size: 1.8em;
  }
  &__hello {
    font-weight: 600;
  }
}

.t-link {
  color: #6eff42;
  &:hover {
    color: #41ffff;
  }
}

.t-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  border-top: #ffffee solid 1px;
  &__brand {
    display: flex;
    flex-direction: row;
    color: #ffffee;
    align-items: center;
    &-logo {
      margin: 0 8px 0 0;
      width: 36px;
    }
  }
  &__social-media {
    &-list {
      display: flex;
      flex-direction: row;
    }
    &-item {
      width: 1em;
      height: 1em;
      list-style: none;
      text-align: center;
      padding: 4px;
      margin: 4px;
      background-color: #ffffee;
      color: red;
      border-radius: 50%;
    }
  }
}