@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap';
@font-face {
  font-family: 'AvenirNextLTPro';
  src: url("../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNextLTPro Demi';
  src: url("../fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url("../fonts/AvenirNextLTPro-Demi-Regular.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Demi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.button {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 100%;
  border-radius: 9px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #0091E0;
  margin: 0;
  padding: .8rem 1.5rem;
  border-radius: 9px;
  transition-duration: 500ms;
  padding: .8rem 1.5rem;
  cursor: pointer; }
  .button:hover {
    background-color: #005797; }

.title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 15rem;
  height: 2rem;
  text-align: center;
  font-size: 1.5rem; }
  .title-container {
    position: relative;
    width: 60%;
    max-width: 50rem;
    min-width: 25rem;
    min-height: 10rem; }
    .title-container > * {
      background-color: #005797; }
    .title-container--white > * {
      background-color: #FFFFFF; }
    .title-container .title {
      background-color: inherit; }
    .title-container--min {
      min-height: 3rem;
      margin-top: 4rem; }
    .title-container__end {
      top: 0;
      bottom: 0;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: auto; }
    .title-container__start {
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: auto; }
    .title-container__bar {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 2px; }
  @media screen and (max-width: 768px) {
    .title {
      font-size: 1.2rem;
      height: 1.5rem;
      width: 10rem; } }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .form__label {
    display: none; }
  .form__input {
    padding: .5rem .8rem;
    border-radius: 8px;
    border: solid 1px #96E845;
    margin: .5rem 0;
    box-sizing: border-box;
    font-size: 1.2rem; }
    .form__input::-moz-placeholder {
      font-family: "AvenirNextLtPro", Arial, sans-serif; }
    .form__input:-ms-input-placeholder {
      font-family: "AvenirNextLtPro", Arial, sans-serif; }
    .form__input::-ms-input-placeholder {
      font-family: "AvenirNextLtPro", Arial, sans-serif; }
    .form__input::placeholder {
      font-family: "AvenirNextLtPro", Arial, sans-serif; }
  .form__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 10rem;
    background-color: #96E845;
    font-size: 1rem;
    border-radius: 30px;
    font-weight: bold; }

@-webkit-keyframes fadeIn {
  0% {
    display: flex;
    transform: translateX(100vw); }
  100% {
    display: flex;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    display: flex;
    transform: translateX(100vw); }
  100% {
    display: flex;
    transform: translateX(0); } }

@-webkit-keyframes fadeOut {
  0% {
    display: flex;
    transform: translateX(0); }
  100% {
    display: flex;
    transform: translateX(100vw); } }

@keyframes fadeOut {
  0% {
    display: flex;
    transform: translateX(0); }
  100% {
    display: flex;
    transform: translateX(100vw); } }

@-webkit-keyframes dropDown {
  0% {
    height: 0;
    overflow-y: hidden; }
  100% {
    height: 6rem;
    overflow-y: hidden; } }

@keyframes dropDown {
  0% {
    height: 0;
    overflow-y: hidden; }
  100% {
    height: 6rem;
    overflow-y: hidden; } }

@-webkit-keyframes dropDownClose {
  0% {
    height: 6rem;
    overflow-y: hidden; }
  100% {
    height: 0;
    overflow-y: hidden; } }

@keyframes dropDownClose {
  0% {
    height: 6rem;
    overflow-y: hidden; }
  100% {
    height: 0;
    overflow-y: hidden; } }

@-webkit-keyframes appear {
  0% {
    opacity: 0%;
    font-size: 0rem; }
  100% {
    opacity: 100%;
    font-size: initial; } }

@keyframes appear {
  0% {
    opacity: 0%;
    font-size: 0rem; }
  100% {
    opacity: 100%;
    font-size: initial; } }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 100px;
  box-sizing: border-box;
  z-index: 20; }
  @media screen and (max-width: 768px) {
    .header {
      position: relative; } }
  .header__logo {
    margin-left: 2em;
    width: 10rem;
    height: calc(100px * 0.55);
    position: relative; }
    .header__logo a:focus {
      outline: none; }
    @media screen and (max-width: 768px) {
      .header__logo {
        margin-left: 0em; } }
  .header__menu-icon {
    display: none;
    background-color: transparent;
    color: #005797; }
    @media screen and (max-width: 768px) {
      .header__menu-icon {
        display: flex;
        font-size: 2rem; } }
  .header__menu-close {
    display: none;
    background-color: transparent;
    color: #005797; }
    @media screen and (max-width: 768px) {
      .header__menu-close {
        display: flex;
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 2rem;
        align-self: flex-end;
        margin: 1rem; } }

.navigation {
  margin-right: 3rem; }
  @media screen and (max-width: 1024px) {
    .navigation {
      margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .navigation {
      position: absolute;
      width: 100%;
      -webkit-animation: fadeOut linear .5s;
      animation: fadeOut linear .5s; } }
  .navigation__list {
    display: flex;
    color: #005797;
    font-family: "AvenirNextLtPro Demi", Arial, sans-serif; }
    @media screen and (max-width: 768px) {
      .navigation__list {
        height: 100vh;
        padding: 0;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        color: #005797;
        min-height: 100vh;
        left: -1rem;
        right: -1rem;
        top: -1rem;
        width: 100%;
        padding: 1rem;
        z-index: 30; } }
    @media screen and (max-width: 768px) {
      .navigation__list--hidden {
        position: fixed;
        left: 0rem;
        right: 3rem;
        top: -1rem;
        -webkit-animation: fadeOut linear .3s;
        animation: fadeOut linear .3s;
        transform: translateX(100vw);
        overflow: hidden;
        color: #005797;
        min-height: 100vh;
        height: 100vh;
        padding: 1rem;
        width: 100%; } }
    @media screen and (max-width: 768px) {
      .navigation__list--mobile {
        height: 100vh;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        overflow: hidden;
        color: #005797;
        min-height: 100vh;
        left: -1rem;
        right: -1rem;
        top: -1rem;
        width: 100%;
        padding: 1rem;
        z-index: 30;
        -webkit-animation: fadeIn linear .3s;
        animation: fadeIn linear .3s; } }
  .navigation__item {
    list-style: none;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    padding: 1rem;
    font-size: 1.1rem; }
    .navigation__item button {
      display: inline-block;
      height: 100%;
      width: 100%;
      background-color: transparent;
      margin: 0;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      position: relative;
      cursor: pointer; }
    .navigation__item a {
      padding: 1rem;
      margin: -1rem; }
      .navigation__item a:focus {
        outline: none; }
  .navigation__dropdown {
    position: relative;
    box-sizing: border-box; }
    .navigation__dropdown-list {
      display: none;
      border-radius: 9.19px;
      margin-top: .8em;
      position: absolute;
      background-color: #FFFFFF;
      color: #005797;
      flex-direction: column;
      padding: .5em 0;
      width: 8em;
      top: 2.5rem;
      left: 0;
      font-size: 1.1rem; }
      @media screen and (max-width: 480px) {
        .navigation__dropdown-list {
          position: relative;
          margin: 0 auto;
          padding: 0;
          top: 0rem; } }
    .navigation__dropdown-item {
      font-size: .9em;
      font-weight: 900;
      padding: .8em;
      list-style: none; }
      .navigation__dropdown-item:hover {
        color: #0091E0; }
      .navigation__dropdown-item a:focus {
        outline: none; }
      @media screen and (max-width: 480px) {
        .navigation__dropdown-item {
          margin: 0; } }
  @media screen and (min-width: 768px) {
    .navigation__dropdown:hover .navigation__dropdown-list {
      display: block;
      z-index: 40;
      -webkit-animation: dropDown ease 1s;
      animation: dropDown ease 1s; } }
  @media screen and (max-width: 768px) {
    .navigation__dropdown--open {
      display: block;
      z-index: 40;
      height: 6rem;
      -webkit-animation: dropDown ease 1s;
      animation: dropDown ease 1s; } }
  @media screen and (max-width: 768px) {
    .navigation__dropdown--closed {
      display: block;
      z-index: 40;
      overflow-y: hidden;
      height: 0;
      -webkit-animation: dropDownClose ease 1s;
      animation: dropDownClose ease 1s; } }

.footer {
  background-color: #005797;
  color: #FFFFFF;
  overflow: hidden; }
  .footer__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer__section {
    min-width: 20rem;
    width: 20%;
    margin: 4rem 2rem; }
  .footer__section-title {
    font-size: 1.5rem;
    font-weight: bold; }
  .footer__list-item {
    margin: .5rem 0;
    font-size: 1.1rem;
    padding: 0;
    list-style: none; }
    .footer__list-item span {
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 1rem;
      background-color: #0091E0;
      padding: .4rem;
      border-radius: 50%;
      text-align: center;
      display: inline-block; }
  .footer__list {
    margin: 0;
    padding: 0; }
  .footer__copy {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0 2rem;
    padding: .5rem 0;
    border-top: solid 1px #FFFFFF; }
  @media screen and (max-width: 768px) {
    .footer__body {
      justify-content: center;
      margin: 3rem 0; }
    .footer__section {
      margin-bottom: 0;
      margin-top: 2rem; }
    .footer__section-title {
      text-align: center; }
    .footer__copy {
      font-size: .8rem; } }

.section {
  overflow: hidden;
  width: 100vw;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .section--with-title {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto, 10rem);
    grid-template-areas: "title title" "column-1 column-2"; }
  .section__column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%; }
    .section__column--title {
      grid-area: title;
      height: 100%;
      max-height: 20rem;
      box-sizing: border-box; }
  @media screen and (max-width: 1200px) {
    .section {
      height: auto; } }
  @media screen and (max-width: 1024px) {
    .section {
      display: flex;
      min-height: 0;
      flex-direction: column; }
      .section--reversable {
        flex-direction: column-reverse; }
      .section--reversable-with-title .section__column:nth-child(1) {
        order: 1; }
      .section--reversable-with-title .section__column:nth-child(2) {
        order: 3; }
      .section--reversable-with-title .section__column:nth-child(3) {
        order: 2; } }

.presentation {
  position: relative;
  background-color: #0091E0;
  color: #ffffff;
  background-image: url("/img/slider-izquierda.png"), url("/img/derecha-slider.png");
  background-size: 12%, 20%;
  background-position: bottom left, bottom right;
  background-repeat: no-repeat; }
  .presentation__call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 800;
    text-align: end;
    max-width: 80%;
    margin: 2rem auto 3rem auto;
    font-family: "AvenirNextLtPro", Arial, sans-serif; }
    @media screen and (max-width: 1024px) {
      .presentation__call-to-action {
        align-items: center;
        text-align: center; } }
  .presentation__message {
    cursor: default;
    font-size: 2.6rem;
    margin: 1rem 0; }
    @media screen and (max-width: 1200px) {
      .presentation__message {
        font-size: 2.2rem; } }
    @media screen and (max-width: 1024px) {
      .presentation__message {
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .presentation__message {
        font-size: 1.8rem; } }
  .presentation__description {
    display: block;
    font-size: 2rem; }
  .presentation__button {
    max-width: 75%;
    font-size: 1rem;
    border: 2px solid #FFFFFF;
    border-radius: 30px; }
    @media screen and (max-width: 1200px) {
      .presentation__button {
        font-size: 1.2rem; } }
    @media screen and (max-width: 1024px) {
      .presentation__button {
        font-size: 1.4rem;
        display: block;
        min-width: 15rem; } }
    @media screen and (max-width: 480px) {
      .presentation__button {
        font-size: 1.2rem;
        min-width: 10rem; } }
  .presentation__image {
    position: relative;
    margin: 0 auto;
    max-width: 65%;
    width: 80%;
    min-height: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
    @media screen and (max-width: 1024px) {
      .presentation__image {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        max-width: 50%; } }
    @media screen and (max-width: 768px) {
      .presentation__image {
        max-width: 80%;
        padding: 0 2rem 2rem 2rem; } }
  @media screen and (max-width: 1024px) {
    .presentation {
      min-height: 42rem; } }

.about-us {
  position: relative; }
  .about-us__image {
    position: relative;
    width: 20rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin: 0; }
  .about-us__owner-name {
    position: absolute;
    bottom: 0;
    background-color: #0091E0;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1rem;
    border-radius: 30px;
    width: 100%;
    text-align: center; }
  .about-us__content {
    width: 70%;
    margin: 0;
    color: #005797;
    align-self: flex-start; }
  .about-us__title h2 {
    font-family: "AvenirNextLtPro", Arial, sans-serif;
    font-size: 2.5rem; }
  .about-us__parragraph {
    font-family: "AvenirNextLtPro", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    width: 90%; }
  .about-us__strengths {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .about-us__strength-icon {
    position: relative;
    width: 12rem;
    height: 4rem;
    margin: 1rem auto; }
  .about-us__strength-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about-us__strength-description {
    display: block;
    text-align: center;
    margin: 0;
    font-size: 1.8rem; }
    .about-us__strength-description span {
      display: block;
      font-size: .8rem;
      font-weight: normal; }
  @media screen and (max-width: 1200px) {
    .about-us__parragraph {
      font-size: 1.1rem; }
    .about-us__image {
      transform: scale(0.9); }
    .about-us__content {
      align-self: initial; } }
  @media screen and (max-width: 1024px) {
    .about-us {
      width: 100%;
      align-items: center;
      justify-content: center;
      align-content: center;
      padding-bottom: 4rem;
      background-position: 3% 95%, 92% 5%;
      background-size: 10%, 10%; }
      .about-us__content {
        width: 50%;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 3rem; } }
  @media screen and (max-width: 480px) {
    .about-us {
      min-height: 0; }
      .about-us__image {
        transform: scale(0.7); } }
  @media screen and (max-width: 768px) {
    .about-us {
      width: 100%; }
      .about-us__image {
        transform: scale(0.8);
        margin: -2rem 0 -3rem 0; }
      .about-us__title h2 {
        margin-top: 0; } }
  @media screen and (max-width: 480px) {
    .about-us__image {
      transform: scale(0.7); }
    .about-us__content {
      width: 85%; } }

.specialties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #005797;
  color: #FFFFFF; }
  .specialties__title {
    border: 2px solid #FFFFFF;
    padding: .8rem .9rem;
    border-radius: 30px; }
    .specialties__title-container {
      background-color: #005797; }
  .specialties__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    width: 80%; }
  .specialties__item {
    position: relative;
    width: 15rem;
    height: 8rem;
    margin: 2rem 2rem; }
  .specialties__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
    overflow: hidden; }
    .specialties__logo-container {
      border-radius: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      position: absolute;
      padding: 1rem;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      background-color: #0091E0; }
    .specialties__logo img {
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center; }
  .specialties__name {
    position: absolute;
    bottom: -1rem;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto; }

.branches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  color: #005797;
  min-height: auto; }
  .branches__title {
    border: 2px solid #005797;
    padding: .8rem .9rem;
    border-radius: 30px; }
    .branches__title-container {
      background-color: #FFFFFF; }
  .branches__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5rem; }
  .branches__item {
    position: relative;
    width: 15rem;
    height: 8rem;
    margin: 2rem 5rem; }
  .branches__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
    overflow: hidden; }
    .branches__logo-container {
      border-radius: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      position: absolute;
      padding: 1rem;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
    .branches__logo img {
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center; }
  .branches__name {
    position: absolute;
    bottom: -1rem;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .branches__button {
    font-size: .8rem;
    text-align: center;
    position: absolute;
    background-color: #96E845;
    bottom: -4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: 50%;
    font-weight: bold;
    border-radius: 30px;
    padding: .5rem; }

.call-to-action {
  display: flex;
  min-height: 10rem;
  align-items: center;
  justify-content: center;
  background-color: #005797; }
  .call-to-action__message {
    width: 70%;
    text-align: center;
    font-size: 1.8rem;
    color: #FFFFFF; }
  .call-to-action__action {
    min-width: 30%;
    margin: 2rem 1rem; }
  .call-to-action__button {
    padding: .8rem 1rem;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    font-size: 1.1rem;
    background-color: #005797;
    border-radius: 30px;
    font-weight: bold; }

.customer-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  color: #005797;
  min-height: auto; }
  .customer-stories__title {
    border: 2px solid #005797;
    padding: .8rem .9rem;
    border-radius: 30px;
    background-color: #FFFFFF; }
    .customer-stories__title-container {
      background-color: #FFFFFF; }
  .customer-stories__items {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 1rem; }
  .customer-stories__item {
    position: relative;
    min-width: 15rem;
    width: 15rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 3.5rem;
    margin: 2rem .5rem;
    background-color: #CCFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 15px; }
  .customer-stories__message {
    position: relative; }
    .customer-stories__message::before {
      content: "\"";
      position: absolute;
      top: -1rem;
      left: -2.8rem;
      font-size: 5rem;
      font-style: italic; }
  .customer-stories__customer-name {
    align-self: flex-end;
    font-weight: bold;
    margin-right: -1.5rem;
    font-size: 1.1rem; }
  .customer-stories__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 4rem;
    overflow: hidden; }
    .customer-stories__logo-container {
      border-radius: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      position: absolute;
      padding: 1rem;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
    .customer-stories__logo img {
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center; }
  .customer-stories__name {
    position: absolute;
    bottom: -1rem;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .customer-stories__button {
    font-size: .8rem;
    text-align: center;
    position: absolute;
    background-color: #96E845;
    bottom: -4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: 50%;
    font-weight: bold;
    border-radius: 30px;
    padding: .5rem; }
  .customer-stories__controls {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 1rem;
    display: flex;
    margin-bottom: 1rem; }
  .customer-stories__control {
    border: 1px solid #005797;
    border-radius: 50%;
    height: .5rem;
    width: .5rem;
    margin: 0 .2rem; }
    .customer-stories__control:hover {
      background-color: #005797; }

.contact-form {
  background-color: #F2F2F2; }
  .contact-form__image {
    width: 24rem; }
  .contact-form__form {
    width: 80%;
    margin: 2rem auto; }
  .contact-form__title {
    color: #005797;
    background-color: #F2F2F2; }
  @media screen and (max-width: 768px) {
    .contact-form__image {
      display: none; } }

body {
  font-family: "AvenirNextLtPro", Arial, sans-serif;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

button {
  border: none; }
  button:focus {
    outline: none; }

img {
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  visibility: inherit;
  left: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  display: block;
  inset: 0px; }
