// Variables globales
@import "./common/fonts.scss";
@import "./common/colors.scss";
@import "./common/sizes.scss";

// Componentes
@import "./components/header.scss";

body {
  font-family: $avenirPro;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}

img {
  position: absolute;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}