// Variables globales
@import "./common/fonts.scss";
@import "./common/colors.scss";
@import "./common/sizes.scss";

// Commons
@import "./components/common/button.scss";
@import "./components/common/title.scss";
@import "./components/common/form.scss";

// Componentes
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/section.scss";
@import "./components/presentation.scss";
@import "./components/about-us.scss";
@import "./components/specialties.scss";
@import "./components/branches.scss";
@import "./components/call-to-action.scss";
@import "./components/customer-stories.scss";
@import "./components/contact-form.scss";

body {
  font-family: $avenirPro;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}

img {
  position: absolute;
  object-fit: contain;
  object-position: center;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  visibility: inherit;
  left: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  display: block;
  inset: 0px;
}